<h3>Mad Libs 🤪</h3>

<p> This is a funny story about <%= @noun %>, they love to <%= @verb %> and you will not believe how <%= @adjective %>
and <%= @adverb %> they are when the weather gets too cold. 
</p>